@media (max-width: 1200px)
/* Alles unter 1200px */

{
    .left {
        height: 100vh;
        width: 30%;
        border-radius: 0;
    }
    .left img {
        width: 100px;
        margin-top: 80px;
    }
    .header {
        margin: 10px;
        font-size: 1.5rem;
    }
    .category {
        font-size: 2rem;
    }
    .right {
        height: 100vh;
        width: 70%;
        border-radius: 0;
    }
    .right h1 {
        margin: 200px 180px 35px 180px;
    }
    .right h2 {
        margin: 0px 75px;
    }
    .right h3 {
        font-size: 3rem;
    }
    .question-Bg-White {
        font-size: 2rem;
    }
    .question-footer {
        margin-bottom: 50px;
    }
    .question-footer2 {
        margin-bottom: 50px;
    }
}

@media (max-width: 950px) {
    .question-footer {
        display: block;
        text-align: center;
    }
    .button-design {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 0;
    }
    .end-screen {
        display: flex;
        justify-content: center;
    }
    .end-screen b {
        padding: 0 10px;
    }
    .right h1 {
        margin: 200px 160px 35px 160px;
    }
}

@media (max-width: 892px) {
    .category-container {
        margin-top: 50px;
    }
    .category {
        font-size: 1.7rem;
    }
    .right h3 {
        font-size: 2.5rem;
    }
    .question-Bg-White {
        font-size: 1.7rem;
    }
    .right h1 {
        margin: 200px 130px 35px 130px;
    }
}

@media (max-width: 750px) {
    .container-categorys {
        flex-direction: column;
    }
    .left {
        display: none;
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .toggle_button {
        display: flex;
        z-index: 999;
    }
    #toggle_button:checked~.left {
        display: block;
        position: absolute;
    }
    .hover:hover {
        cursor: pointer;
        transform: scale(0.9);
    }
    .logo-media-design {
        width: 200px;
        margin-left: 33px;
    }
    .category {
        font-size: 2.5rem;
    }
    .category:hover {
        cursor: pointer;
        border-left: 8px solid white;
    }
    .header {
        font-size: 2rem;
    }
    .category-container {
        margin-bottom: 50px;
    }
}

@media (max-width: 550px) {
    .right h1 {
        margin: 80px 110px 35px 110px;
    }
}

@media (max-width: 570px) {
    .right h3 {
        font-size: 1.4rem;
    }
    .question-Bg-White {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .right h1 {
        margin: 80px 70px 35px 70px;
    }
}

@media (max-width: 450px) {
    .question {
        margin-bottom: 0;
    }
    .question-footer {
        margin-bottom: 0;
    }
    .category-button {
        border-radius: 0 10px 0 0;
    }
    .rightButton {
        border-radius: 10px 0 0 0;
    }
    .right h1 {
        margin: 80px 40px 35px 40px;
    }
    /* .logo-media-design {
        display: none;
    } */
    /* .category-container {
        margin-top: 100px;
    } */
    .right h2 {
        margin: 10px;
    }
}