body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    user-select: none;
    font-family: 'rubik', sans-serif;
}

.hide {
    display: none !important;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-collum {
    flex-direction: column;
}

.textcenter {
    text-align: center;
}

.hover {
    transition: transform 125ms;
}

.hover:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.padding-left-25 {
    padding-left: 25px;
}


/* Category container */

.container-categorys {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


/* Left site */

.header {
    margin: 10px;
    font-size: 1.3rem;
}

.left {
    background: linear-gradient(122deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 51%, rgba(0, 212, 255, 1) 100%);
    border-radius: 15px 0 0 15px;
    height: 80vh;
    width: 250px;
    /* height: 500px;
    width: 150px; */
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.left img {
    width: 50px;
    border-radius: 100%;
    margin-top: 35px;
}

.category {
    margin-top: 35px;
    padding-left: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    transition: all 125ms;
    font-size: 1.5rem;
}

.category:hover {
    cursor: pointer;
    border-left: 5px solid white;
}


/* Right site */

.right {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1)), url(img/quiz.jpg);
    background-position: center;
    background-size: 150%;
    height: 80vh;
    width: 900px;
    /* height: 500px;
    width: 500px; */
    border-radius: 0 15px 15px 0;
}

.right h1 {
    color: rgb(40, 40, 40);
    line-height: 1.5;
    margin: 200px 220px 35px 220px;
    font-size: 3rem;
}

.right h2 {
    color: rgba(40, 40, 40, 0.827);
    line-height: 1.2;
    font-weight: lighter;
    font-size: 1.6rem;
    margin: 0px 200px;
}


/* Question Container */

.question-container {
    justify-content: space-between;
    height: 80vh;
    border-radius: 0 15px 15px 0;
}

.bg-center {
    background-position: left;
}

.right h3 {
    line-height: 1;
    font-weight: bolder;
    font-size: 2rem;
    margin: 70px 20px -20px 20px;
}

.question {
    margin: 20px;
}

.question-Bg-White {
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    transition: all 125ms;
    font-size: 1.5rem;
}

.question-hover {
    background-color: rgba(255, 255, 255, 0.673);
}

.question-hover:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.673);
}

.question-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.category-button {
    margin-right: 10px;
}

.myButton {
    width: 220px;
    height: 50px;
    font-size: 1.3rem;
    color: #ffffff;
    background: linear-gradient(122deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 51%, rgba(0, 212, 255, 1) 100%);
    border-radius: 10px;
    transition: all 125ms ease;
    border: 0;
    font-family: 'rubik', sans-serif;
}

.button-hover:hover {
    cursor: pointer;
    background: linear-gradient(to top right, #2249ac, #645cd4);
    border-color: none;
}

.bg-success {
    background-color: rgba(40, 255, 40, 0.4);
}

.bg-wrong {
    background-color: #ff393970;
}

.disabled {
    background: linear-gradient(to top right, #c7d7ff, #4a4872);
    color: #000000b8;
    border: 0;
}


/* endscreem */

.end {
    font-size: 3rem;
}

.question-footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.menu-icon {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.toggle_button {
    width: 45px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 125ms;
}

.bar {
    height: 5px;
    width: 100%;
    background: black;
    border-radius: 100px;
}

.toggle_button:hover {
    cursor: pointer;
    transform: scale(0.9);
}