body {
    min-height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    user-select: none;
}

.height {
    height: 100px;
}

.quiz-card {
    width: 30rem !important;
}

.navbar-brand {
    text-align: center;
    width: 100%;
    font-size: 3rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
}

#questionFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
    width: 100%;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white;
}

.hide {
    display: none;
}

.progress {
    border-radius: 0;
}

#questionFooter2 {
    display: flex;
    justify-content: flex-end;
}